<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener
			class-name="com.coursera.org.utilities.GenerateReport"></listener>
	</listeners>
	
	<test thread-count="1" name="Full Test">

		<groups>
			<run>
				<include name="Smoke Test"></include>
				<include name="Regression Test"></include>
			</run>
		</groups>

		<classes>
			<class name="com.coursera.org.test.TestSetup"></class>
			<class name="com.coursera.org.test.IdentifyCoursesTest"></class>
			<class
				name="com.coursera.org.test.LanguageLearningCourseCountTest"></class>
			<class
				name="com.coursera.org.test.FormFillingTestWithValidData"></class>
			<class
				name="com.coursera.org.test.FormFillingTestWithInvalidData"></class>
		</classes>

	</test> <!-- Test -->
</suite> <!-- Suite -->
